@import '~antd/lib/style/themes/default.less';

@prefix-cls: ~'rc-table';

.@{prefix-cls} {
  .ant-table-pagination {
    margin-top: 24px;
  }

  .ant-table-row-expand-icon {
    background-color: transparent;
    border: none;
  }

  .ant-table-thead > tr > th .anticon-filter,
  .ant-table-thead > tr > th .ant-table-filter-icon {
    right: unset;
  }
}
